In [1]:
pip install pandas

Collecting pandas
  Downloading pandas-1.3.5-cp37-cp37m-win_amd64.whl.metadata (12 kB)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\nt465\.conda\envs\testenv\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2017.3 (from pandas)
  Downloading pytz-2024.2-py2.py3-none-any.whl.metadata (22 kB)
Requirement already satisfied: numpy>=1.17.3 in c:\users\nt465\.conda\envs\testenv\lib\site-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in c:\users\nt465\.conda\envs\testenv\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Downloading pandas-1.3.5-cp37-cp37m-win_amd64.whl (10.0 MB)
   ---------------------------------------- 10.0/10.0 MB 957.2 kB/s eta 0:00:00
Downloading pytz-2024.2-py2.py3-none-any.whl (508 kB)
   -------------------------------------- 508.0/508.0 kB 937.4 kB/s eta 0:00:00
Installing collected packages: pytz, pandas
Successfully installed pandas-1.3.5 pytz-2024.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
print("Hello World")
print("Machine Learning "+"Project")
print(8)
print(8+9)

Hello World
Machine Learning Project
8
17

## Basic Datatypes: 
1. int
2. float
3. str

In [6]:
type(8)
type(8.3)
type("English")

str

#### Constant and varibale

In [7]:
superHero = "Iron man"
print(superHero)

Iron man

In [8]:
superHero = "Captain America"
print(superHero)

Captain America

### Input function

In [2]:
number_1 = input("Enter the first number: ")
number_2 = input("Enter the second number: ")
print(int(number_1) + int(number_2))

13

types of object in python
1. Imutable Objects
2. Mutable Objects

Imutable objects: 
1. Int
2. float
3. string
4. bool
5. tuple

Mutable Objects
1. List
2. Set
3. Dictonary

In [3]:
#list should be included in the square brackets
my_list = [1, 2, 3, 4, 5]
print(my_list)

[1, 2, 3, 4, 5]

In [4]:
# list can have multiple data types
my_list = [1, "Hello", 3.14, True, [1, 2, 3]]
print(my_list)

[1, 'Hello', 3.14, True, [1, 2, 3]]

In [5]:
# Adding a element in my_list
my_list.append(6)
print(my_list)

[1, 'Hello', 3.14, True, [1, 2, 3], 6]

In [6]:
# print elments of the list
print(my_list[0])
print(my_list[1])
print(my_list[2])

1
Hello
3.14

In [7]:
#list allow duplicate value
my_list.append(1)
print(my_list)

[1, 'Hello', 3.14, True, [1, 2, 3], 6, 1]

In [8]:
# finding the length of the list
print(len(my_list))

7

In [9]:
# deleting the item in list
my_list.remove(1)
print(my_list)

['Hello', 3.14, True, [1, 2, 3], 6, 1]

In [10]:
# Join the two list
list1 = [1, 2, 3]
list2 = [4, 5, 6]
list3 = list1 + list2
print(list3)

[1, 2, 3, 4, 5, 6]

## Tuple

In [11]:
tuple1 = (1, 2, 3)
print(tuple1)
type(tuple1)

(1, 2, 3)

tuple

In [12]:
# tuple allow the multiple data type
tuple1 = (1, "Hello", 3.14, True, [1, 2, 3])
print(tuple1)

(1, 'Hello', 3.14, True, [1, 2, 3])

In [13]:
# Converting the list in tuple
my_list = [1, 2, 3]
tuple1 = tuple(my_list)
print(tuple1)
type(tuple1)

(1, 2, 3)

tuple

# set

In [14]:
my_set = {1, 2, 3}
print(my_set)
type(my_set)

{1, 2, 3}

set

In [15]:
# set does not support indexing
my_set = {1, 2, 3}
print(my_set[0])

TypeError: 'set' object is not subscriptable

In [16]:
list = [1, 2, 3]    
my_set = set(list)
print(my_set)
type(my_set)

{1, 2, 3}

set

In [17]:
# set does not allow duplicate value
my_set = {1, 2, 3}
print(my_set)
my_set.add(4)
print(my_set)
my_set.add(1)
print(my_set)

{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4}

# dictonary

In [18]:
my_dict = {"name": "John", "age": 30, "city": "New York"}
print(my_dict)

{'name': 'John', 'age': 30, 'city': 'New York'}

In [19]:
print(my_dict["name"])
print(my_dict["age"])       
print(my_dict["city"])

John
30
New York

In [20]:
# dictonary does not allow duplicate value
dict1 = {"key1": "value1", "key2": "value2", "key3": "value3"}
print(dict1)
dict1["key1"] = "new_value1"
print(dict1)

{'key1': 'value1', 'key2': 'value2', 'key3': 'value3'}
{'key1': 'new_value1', 'key2': 'value2', 'key3': 'value3'}